.ToDoList{
	width: 60%;
	height: 600px;
	background-color: lightgrey;
	margin: 0 auto 0 auto;
	text-align: center;
}

.marginT{
	margin-top: 50px;
}

.inputBox{
	width: 90%;
	height: 50px;
	border: 1px solid black;
	border-radius: 0;
	font-size: 18px;
	padding-left: 10px;
}

.saveBtn{
	height: 32px;
	width: 100px;
	border: 1px solid black;
	border-radius: 0;
	font-size: 20px;
	margin-top: 30px;
}

.list{
	margin-top: 30px;
}

ul {
	margin: 0;
	padding: 0;
	text-align: left;
	margin-left: 30px;
	}
ul li {
 	list-style: none;
 	width: 92%;
	margin-left: 10px;
    cursor: pointer;
    position: relative;
    padding: 5px 2px 2px 15px;
    font-size: 23px;
    display: inline-block;
}

ul li:nth-child(even){
	background-color: pink;
}
ul li:nth-child(odd){
	background-color: grey;
}
.closeBtn {
  float: right;
  padding: 3px 8px 5px 5px;
  color: black;
  font-size: 25px;
  font-weight: 900;
}
.closeBtn:hover{
	color: red;
}
.editButton{
	margin: 5px 10px 0 0;
	float: right;
	font-size: 13px;
	color: black;
}
.doneBtn{
	margin-left: 5px;
	margin-right: 5px;
	float: right;
}